<!--========== notLoggedIn ==========-->
<header class="header navbar-fixed-top" ng-hide="vm.isLoggedIn">
	<!-- Navbar -->
	<nav class="navbar" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="menu-container js_nav-item">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
					<span class="sr-only">Toggle navigation</span> <span class="toggle-icon"></span>
				</button>

				<!-- Logo -->
				<div class="logo">
					<a class="logo-wrap" href=""> <img
						class="logo-img logo-img-main" src="img/favicon.ico"
						alt="ParkR Logo">
					</a>
				</div>
				<!-- End Logo -->
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse nav-collapse">
				<div class="menu-container">
					<ul class="nav navbar-nav navbar-nav-right">
						<li class="js_nav-item nav-item"><a	class="nav-item-child nav-item-hover" href="" du-smooth-scroll="body">Home</a></li>
						<li class="js_nav-item nav-item"><a	class="nav-item-child nav-item-hover" href="" du-smooth-scroll="about">ParkR?</a></li>
						<li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="" du-smooth-scroll="spaces">Manage Spaces</a></li>
						<li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="" du-smooth-scroll="find">Find Parking</a></li>
						<li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="" du-smooth-scroll="pricing">Pricing</a></li>
						<li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="" du-smooth-scroll="register">Get ParkR</a></li>
						<li class="js_nav-item nav-item" ng-hide="isLoggedIn"><a class="nav-item-child nav-item-hover" href="" ng-click="vm.toggleLoginForm()">Sign In</a></li>
    					</ul>
				</div>
			</div>
			<!-- End Navbar Collapse -->
		</div>
	</nav>
	<!-- Navbar -->
</header>

<!--===== isLoggedIn ======= -->
<header class="header navbar-fixed-top" ng-show="vm.isLoggedIn">
	<!-- Navbar -->
	<nav class="navbar past-main" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="menu-container js_nav-item">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
					<span class="sr-only">Toggle navigation</span> <span class="toggle-icon"></span>
				</button>

				<!-- Logo -->
				<div class="logo">
					<a class="logo-wrap" href=""> <img
						class="logo-img logo-img-main" src="img/favicon.ico"
						alt="ParkR Logo">
					</a>
				</div>
				<!-- End Logo -->
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse nav-collapse">
				<div class="menu-container">
					<ul class="nav navbar-nav navbar-nav-right">
						<li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="" >Find Parking</a></li>
						<li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="" >Your Reservations</a></li>
						<li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="#/userProfile" >Profile</a></li>
						<li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="" >Manage Spaces</a></li>						
						<li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="" ng-click="vm.signOut()">Sign Out</a></li>
					</ul>
				</div>
			</div>
			<!-- End Navbar Collapse -->
		</div>
	</nav>
	<!-- Navbar -->
</header>

<!-- LoginForm -->
	<div id="loginInForm" ng-show="vm.loginFormVisible">
		<form name="loginForm" id="loginForm">
			<div class="form-group">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Username" name="loginUser"
						ng-model="user.username" ng-required="true">
					<p class="errorMessage orange" ng-show="loginForm.loginUser.$invalid && loginForm.loginUser.$touched">Please enter username</p>
				</div>
			</div>

			<div class="form-group">
				<div class="input-group">
					<input type="password" class="form-control" placeholder="Password" name="loginPass"
						ng-model="user.password" ng-minlength="4" ng-attr-type="{{ showPassword ? 'text':'password'}}" ng-required="true">
					<div class="input-icon" ng-click="toggleShowPassword()" ng-class="{'fa fa-eye fa-lg': showPassword,'fa fa-eye-slash fa-lg': !showPassword}" style="cursor: pointer;">
    				</div>
					<p class="errorMessage orange" ng-show="loginForm.loginPass.$invalid && loginForm.loginPass.$touched">Please enter password</p>
				</div>
			</div>

			<div class="form-group text-left">
				<button ng-click="vm.login(user)"
					class="btn-theme btn-theme-sm btn-default-bg text-uppercase" ng-disabled="loginForm.$invalid">Log
					in</button>
			</div>

			<a class="help" href="mailto:stephen@codehammer.design">Trouble
				logging in?</a>
		</form>
	</div>