*, html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}

.favicon {
    border-radius: 50%;
}

.body-background {
	margin-top: 20px;
    height:80vh;
    background-image: url('background.jpg');
    background-size: 100vw 90vh;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.45);
}

@media ( max-width :1000px) {
    body>div {
        height: 100%;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: calc(( 120% + 0.01vw)* 7);
}

* h2, h3, h4, p, a, blockquote {
    font-family: 'Quicksand', serif;
}

/* NavBar */

.navbar-default {
    background-color: #06384a;
    border: none;
}

#logo {
    color: #fff;
    padding: 0;
}

.navbar-default .navbar-toggle {
    background-color: #06384a;
    border: none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #fff;
}

.icon-bar {
    background-color: #fff !important;
}

#logo img {
    height: 100%;
    padding: 5px 18px;
    width: auto;
}

#myNavbar {
    padding: 0;
}

#myNavbar a {
    color: #fff;
	text-transform: capitalize;
    margin: 0 0 0 8px;
    text-align: center;
}

#myNavbar a:hover {
    text-align: center;
}

.active a {
    color: #fff !important;
    background-color: #2f7a94 !important;
    font-style: italic;
}


/* create user pane */

.title {
    color: #fff;
    width: 100vw;
    text-align: left;
    padding-left: 2vw;
	padding-top: 7vh;
}

.blue {
    color: #102E82;
}

.white {
    color: #fff;
}

.red {
    color: #e9013a;
}

.orange {
    color: #ff8800;
}

@media (min-width:1000px) {
    .modal-dialog {
        width: 30vw;
    }
}

.modal-content {
    background-color: rgba(255, 255, 255, 0.8);
    width: 65vh;
}

.row {
    padding-top: 20vh;
}

.information {
    color: white;
}

.btn, .btn:hover, .btn:after, .btn:active, .btn:focus {
    background-color: #084b63;
    border: none;
    border-radius: 3px;
    color: #fff;
    min-width: 10vw;
}

.information {
	text-align: center;
	width: 100vw;
	height: 50vh;
	top: 50%;
	left: 50%;
	margin: 0 auto;
	color: black;
}

.information img {
	height: 70px;
	width: auto;
}


/* Footer */

footer {
    background-color: rgba(255, 255, 255, 0.85);
    font-family: 'Raleway', sans-serif;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
    padding: 5px;
    z-index: 10;
}

.footer p, a {
    font-size: calc(.7em + .2vw);
    color: #878686;
}

.footer a:hover {
    color: #2f7a94;
}

@media only screen and (max-width: 300px) {
    footer {
        height: 50px;
        padding: 5px;
    }
}
