<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-heading">
			<h2 class="text-center">Please Review Your Information.</h2>
			<div class="modal-body">
				<form class="form" id="createUser">

					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"> <span class="fa fa-user"></span>
							</span> <input type="text" class="form-control" placeholder="{{user.firstName}}" ng-model="user.firstName">
						</div>
					</div>

					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"> <span class="fa fa-user"></span>
							</span> <input type="text" class="form-control" placeholder="{{user.lastName}}" ng-model="user.lastName">
						</div>
					</div>

					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"> <span
								class="fa fa-envelope"></span>
							</span> <input type="email" class="form-control" placeholder="{{user.userName}}" ng-model="user.userName">
						</div>
					</div>

					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"> <span class="fa fa-phone"></span>
							</span> <input type="text" class="form-control" placeholder="{{user.phoneNumber}}" ng-model="user.phoneNumber">
						</div>
					</div>

					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"> <span class="fa fa-user"></span>
							</span> <input type="text" class="form-control" placeholder="{{user.email}}" ng-model="user.email" required>
						</div>
					</div>

					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"> <span class="fa fa-user"></span>
							</span> <input type="text" class="form-control" placeholder="{{user.username}}" ng-model="{{user.username}}" required>
						</div>
					</div>

					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon"> <span class="fa fa-lock"></span>
							</span> <input type="password" class="form-control" placeholder="{{user.password}}" ng-model="user.password" required>
						</div>
					</div>
					
					<div class="form-group">
						<h3>Would you like to list a parking spot with Parkr?</h3>
						<div class="input-group">
							<span class="input-group-addon"> <span class="fa fa-lock"></span>
							</span> <input type="checkbox" class="form-control" required>
						</div>
					</div>


					<div class="form-group text-center">
						<button type="submit" class="btn btn-primary btn-lg" ng-click="vm.registerUser(user)">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>