
<!--========== SLIDER ==========-->
<div class="promo-block">
	<div class="container">
		<div class="margin-b-40">
			<h1 class="promo-block-title">
				Park<span class="orange headlineR">R</span>
			</h1>
			<p class="promo-block-text">parking made easier, faster.</p>
			<p class="promo-block-text">COMING SOON</p>
		</div>
	</div>
	
</div>

<!--========== SLIDER ==========-->

<!--========== PAGE LAYOUT ==========-->
<!-- About -->
<div id="about">
	<div class="container content-lg">
		<div class="row text-center margin-b-40">
			<div class="col-sm-6 col-sm-offset-3">
				<h2>What is ParkR?</h2>
				<p>ParkR is easy! Share your space while you're away and make some cash while doing it.</p>
			</div>
		</div>
		<!--// end row -->

		<div class="row">
			<!-- Latest Products -->
			<div class="col-sm-4 sm-margin-b-50">
				<div class="margin-b-20">
					<img class="img-responsive wow fadeIn" src="img/970x647/01.jpg"
						alt="Latest Products Image" data-wow-duration=".3"
						data-wow-delay=".1s">
				</div>
				<h4>
					<a href="#">Users</a> <span class="text-uppercase margin-l-20">the
						Search for Parking</span>
				</h4>
				<p>Use the search bar to easily find available parking spaces closest to you.</p>
				<a class="link" href="">Read More</a>
			</div>
			<!-- End Latest Products -->

			<!-- Latest Products -->
			<div class="col-sm-4 sm-margin-b-50">
				<div class="margin-b-20">
					<img class="img-responsive wow fadeIn" src="img/970x647/02.jpg"
						alt="Latest Products Image" data-wow-duration=".3"
						data-wow-delay=".2s">
				</div>
				<h4>
					<a href="#">Park<span class="orange">R</span></a> <span
						class="text-uppercase margin-l-20">Connects Securely</span>
				</h4>
				<p>Your information is safe.</p>
				<a class="link" href="">Read More</a>
			</div>
			<!-- End Latest Products -->

			<!-- Latest Products -->
			<div class="col-sm-4 sm-margin-b-50">
				<div class="margin-b-20">
					<img class="img-responsive wow fadeIn" src="img/970x647/03.jpg"
						alt="Latest Products Image" data-wow-duration=".3"
						data-wow-delay=".3s">
				</div>
				<h4>
					<a href="#">Listers</a> <span class="text-uppercase margin-l-20">Manage
						Spaces, Earn Money Quick and Easy</span>
				</h4>
				<p>Authorized Listers will be able to manage their spaces in real time to earn money quickly and easily, when they want to.</p>
				<a class="link" href="">Read More</a>
			</div>
			<!-- End Latest Products -->
		</div>
		<!--// end row -->

		<!-- MAP Component-->
		<div id="find">			
			<map-home></map-home>
		</div>

		<!--// end row -->
	</div>
</div>
<!-- End Products -->

<!-- Spaces -->
<div id="spaces">
	<div class="bg-color-sky-light" data-auto-height="true">
		<div class="content-lg container">
			<div class="row row-space-2 margin-b-4">
				<div class="col-sm-4 sm-margin-b-4">
					<div class="service" data-height="height">
						<div class="service-element">
							<i class="service-icon icon-chemistry"></i>
						</div>
						<div class="service-info">
							<h3>Manage multiple spaces</h3>
							<p class="margin-b-5">Mulitple spaces?</p>
						</div>
						<a href="#" class="content-wrapper-link"></a>
					</div>
				</div>
				<div class="col-sm-4 sm-margin-b-4">
					<div class="service bg-color-base wow fadeInDown"
						data-height="height" data-wow-duration=".3" data-wow-delay=".1s">
						<div class="service-element">
							<i class="service-icon color-white icon-screen-tablet"></i>
						</div>
						<div class="service-info">
							<h3 class="color-white">Add as many as you want</h3>
							<p class="color-white margin-b-5">Don't let space limit your earnings.Have a 24x24 space? You can fit 2 cars in there!</p>
						</div>
						<a href="#" class="content-wrapper-link"></a>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="service" data-height="height">
						<div class="service-element">
							<i class="service-icon icon-badge"></i>
						</div>
						<div class="service-info">
							<h3>Real-time check-in/check-out</h3>
							<p class="margin-b-5">There's no need to worry about the availability of parking. With real time updates you can find a space near you instantly.</p>
						</div>
						<a href="#" class="content-wrapper-link"></a>
					</div>
				</div>
			</div>
			<!--// end row -->

			<div class="row row-space-2">
				<div class="col-sm-4 sm-margin-b-4">
					<div class="service" data-height="height">
						<div class="service-element">
							<i class="service-icon icon-notebook"></i>
						</div>
						<div class="service-info">
							<h3>Useful Documentation</h3>
							<p class="margin-b-5">Lorem ipsum dolor amet consectetur ut
								consequat siad esqudiat dolor</p>
						</div>
						<a href="#" class="content-wrapper-link"></a>
					</div>
				</div>
				<div class="col-sm-4 sm-margin-b-4">
					<div class="service" data-height="height">
						<div class="service-element">
							<i class="service-icon icon-speedometer"></i>
						</div>
						<div class="service-info">
							<h3>Fast Payments</h3>
							<p class="margin-b-5">Make secure payments through the application straight to the Lister.</p>
						</div>
						<a href="#" class="content-wrapper-link"></a>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="service" data-height="height">
						<div class="service-element">
							<i class="service-icon icon-badge"></i>
						</div>
						<div class="service-info">
							<h3>Free Support</h3>
							<p class="margin-b-5">We're here to help you. Stuck in a jam? Reach out and we'll assit you with your situation.</p>
						</div>
						<a href="#" class="content-wrapper-link"></a>
					</div>
				</div>
			</div>
			<!--// end row -->
		</div>
	</div>
</div>
<!-- End Service -->

<!-- Promo Banner -->
<div class="promo-banner">
	<div class="container-sm content-lg">
		<h2 class="promo-banner-title">Promo Pitch</h2>
		<p class="promo-banner-text">Lorem ipsum dolor sit amet,
			consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
			labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
			exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
	</div>
</div>
<!-- End Promo Banner -->

<!-- Pricing -->
<div id="pricing">
	<div class="bg-color-sky-light">
		<div class="content-lg container">
			<div class="row row-space-2">
				<div class="col-sm-4 sm-margin-b-4">
					<!-- Pricing -->
					<div class="pricing">
						<div class="margin-b-30">
							<i class="pricing-icon icon-chemistry"></i>
							<h3>
								Starter Kit <span> - $</span> 49
							</h3>
							<p>Lorem ipsum dolor amet consectetur ut consequat siad
								esqudiat dolor</p>
						</div>
						<ul class="list-unstyled pricing-list margin-b-50">
							<li class="pricing-list-item">Basic Features</li>
							<li class="pricing-list-item">Up to 5 products</li>
							<li class="pricing-list-item">50 Users Panels</li>
						</ul>
						<a href="pricing.html"
							class="btn-theme btn-theme-sm btn-default-bg text-uppercase">Choose</a>
					</div>
					<!-- End Pricing -->
				</div>
				<div class="col-sm-4 sm-margin-b-4">
					<!-- Pricing -->
					<div class="pricing pricing-active">
						<div class="margin-b-30">
							<i class="pricing-icon icon-badge"></i>
							<h3>
								Professional <span> - $</span> 149
							</h3>
							<p>Lorem ipsum dolor amet consectetur ut consequat siad
								esqudiat dolor</p>
						</div>
						<ul class="list-unstyled pricing-list margin-b-50">
							<li class="pricing-list-item">Basic Features</li>
							<li class="pricing-list-item">Up to 100 products</li>
							<li class="pricing-list-item">100 Users Panels</li>
						</ul>
						<a href="pricing.html"
							class="btn-theme btn-theme-sm btn-default-bg text-uppercase">Choose</a>
					</div>
					<!-- End Pricing -->
				</div>
				<div class="col-sm-4">
					<!-- Pricing -->
					<div class="pricing">
						<div class="margin-b-30">
							<i class="pricing-icon icon-shield"></i>
							<h3>
								Advanced <span> - $</span> 249
							</h3>
							<p>Lorem ipsum dolor amet consectetur ut consequat siad
								esqudiat dolor</p>
						</div>
						<ul class="list-unstyled pricing-list margin-b-50">
							<li class="pricing-list-item">Extended Features</li>
							<li class="pricing-list-item">Unlimited products</li>
							<li class="pricing-list-item">Unlimited Users Panels</li>
						</ul>
						<a href="pricing.html"
							class="btn-theme btn-theme-sm btn-default-bg text-uppercase">Choose</a>
					</div>
					<!-- End Pricing -->
				</div>
			</div>
			<!--// end row -->
		</div>
	</div>
	<!-- End Pricing -->
</div>
	<!-- Register -->
	<div class="content-md container" id="register">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="registerFormTitle">
					Create Your Park<span class="orange">R</span> Account
				</h3>

				<form class="form" id="registerForm" name="registerForm">
					<div class="form-group">
						<div class="input-group">
							<input type="text" class="form-control"
								placeholder="Enter a username" name="username" ng-model="regU.username" ng-minlength="4" ng-required="true">
							<p class="errorMessage" ng-show="registerForm.username.$invalid && registerForm.username.$touched">Username cannot be blank and longer than 4 characters</p>
							<p class="errorMessage" ng-show="something">Username is not available</p> <!-- Implement when username unique returns error -->
						</div>
					</div>

					<div class="form-group">
						<div class="input-group">
							<input type="email" class="form-control"
								placeholder="Enter your email" name="email" ng-model="regU.email" ng-required="true">
							<p class="errorMessage" ng-show="registerForm.email.$invalid && registerForm.email.$touched">Cannot be blank and in email@email.email format</p>
						</div>
					</div>

					<div class="form-group">
						<div class="input-group">
							<input type="password" class="form-control"
								placeholder="Enter a password" name="password1" ng-model="regU.password1" ng-minlength="7" ng-attr-type="{{ showPassword ? 'text':'password'}}" ng-required="true">
							<div class="input-icon" ng-click="toggleShowPassword()" ng-class="{'fa fa-eye fa-lg': showPassword,'fa fa-eye-slash fa-lg': !showPassword}" style="cursor: pointer;">
		    				</div>
							<p class="errorMessage" ng-show="registerForm.password1.$invalid && registerForm.password1.$touched">Cannot be blank, minimum 7 characters</p>
						</div>
						<div class="input-group">
							<input type="password" class="form-control"
								placeholder="Re-enter password" name="password2" ng-model="regU.password2" ng-minlength="7" ng-attr-type="{{ showPassword ? 'text':'password'}}" ng-required="true">
							<div class="input-icon" ng-click="toggleShowPassword()" ng-class="{'fa fa-eye fa-lg': showPassword,'fa fa-eye-slash fa-lg': !showPassword}" style="cursor: pointer;">
    						</div>
							<p class="errorMessage" ng-show="registerForm.password2.$invalid && registerForm.password2.$touched">Cannot be blank</p>
							<p class="errorMessage" ng-show="regU.password1 != regU.password2">Passwords to not match</p>
						</div>
					</div>

					<div class="form-group">
						<button ng-click="vm.register(regU)"
							class="btn-theme btn-theme-sm btn-default-bg text-uppercase" ng-disabled="registerForm.$invalid">Get Park<span class="orange">R</span>!</button>
					</div>
				</form>

			</div>
		</div>
		<!--// end row -->
	</div>
	<!-- End Testimonials -->

	<!-- Contact -->
	<div id="contact">
		<!-- Google Map -->
		<div class="gmap">
			<div id="map" class="map height-400"></div>
			<address class="gmap-address">
				<p class="color-heading margin-b-0">Address, Denver, CO, USA</p>
			</address>
		</div>
		<!-- End Google Map -->
	</div>
	<!-- End Contact -->
	<!--========== END PAGE LAYOUT ==========-->

	<!--========== FOOTER ==========-->
	<footer class="footer">
		<!-- Links -->
		<div class="section-seperator">
			<div class="content-md container">
				<div class="row">
					<div class="col-sm-2 sm-margin-b-30">
						<!-- List -->
						<ul class="list-unstyled footer-list">
							<li class="footer-list-item"><a href=""
								du-smooth-scroll="body">Home</a></li>
							<li class="footer-list-item"><a href=""
								du-smooth-scroll="about">About</a></li>
							<li class="footer-list-item"><a href=""
								du-smooth-scroll="about">Work</a></li>
							<li class="footer-list-item"><a href="#contact">Contact</a></li>
						</ul>
						<!-- End List -->
					</div>
					<div class="col-sm-2 sm-margin-b-30">
						<!-- List -->
						<ul class="list-unstyled footer-list">
							<li class="footer-list-item"><a href="#">Twitter</a></li>
							<li class="footer-list-item"><a href="#">Facebook</a></li>
							<li class="footer-list-item"><a href="#">Instagram</a></li>
							<li class="footer-list-item"><a href="#">LinkedIn</a></li>
						</ul>
						<!-- End List -->
					</div>
					<div class="col-sm-3">
						<!-- List -->
						<ul class="list-unstyled footer-list">
							<li class="footer-list-item"><a href="#">Cookie Policy</a></li>
							<li class="footer-list-item"><a href="#">Privacy Policy</a></li>
							<li class="footer-list-item"><a href="#">Terms &amp;
									Conditions</a></li>
						</ul>
						<!-- End List -->
					</div>
				</div>
				<!--// end row -->
			</div>
		</div>
		<!-- End Links -->

		<!-- Copyright -->
		<div class="content container">
			<div class="row">
				<div class="col-xs-6">
					<img class="footer-logo" src="" alt="Code & Hammer Logo">
				</div>
				<div class="col-xs-6 text-right">
					<p class="margin-b-0">
						<a class="fweight-700" href="https://www.codehammer.design">Code
							& Hammer</a>
					</p>
				</div>
			</div>
			<!--// end row -->
		</div>
		<!-- End Copyright -->
	</footer>
	<!--========== END FOOTER ==========-->