<div class="content-md container" id="userProfileForm">
	<div class="row">
		<div class="col-sm-12">
			<form id="updateUserForm" name="updateUserForm">
			<h3>Update Profile Information</h3>
				<div class="form-group">
					<div class="input-group">
						<label>First Name
							<input type="text" class="form-control" name="firstName" ng-model="vm.user.firstName" ng-required="true">
						</label>
						<p class="errorMessage"
							ng-show="updateUserForm.firstName.$invalid && updateUserForm.firstName.$touched">Cannot
							be blank</p>
						<!-- Implement when re-enter password works -->
					</div>
				</div>

				<div class="form-group">
					<div class="input-group">
						<input type="text" class="form-control" name="lastName"
							ng-model="vm.user.lastName" ng-required="true">
						<p class="errorMessage"
							ng-show="updateUserForm.lastName.$invalid && updateUserForm.lastName.$touched">Cannot
							be blank</p>
						<!-- Implement when re-enter password works -->
					</div>
				</div>

				<div class="form-group">
					<div class="input-group">
						<input type="number" class="form-control" name="phoneNumber"
							ng-model="vm.user.phoneNumber" ng-minlength="4"
							ng-required="true">
						<p class="errorMessage"
							ng-show="updateUserForm.phoneNumber.$invalid && updateUserForm.phoneNumber.$touched">Numbers
							only</p>
						<!-- Implement when re-enter password works -->
					</div>
				</div>

				<div class="form-group">
					<div class="input-group">
						<input type="email" class="form-control" name="email"
							ng-model="vm.user.email" ng-required="true">
						<p class="errorMessage"
							ng-show="updateUserForm.email.$invalid && updateUserForm.email.$touched">Proper
							email please</p>
						<!-- Implement when re-enter password works -->
					</div>
				</div>

				<div class="form-group">
					<button ng-click="vm.updateUser(vm.user)"
						class="btn-theme btn-theme-sm btn-default-bg text-uppercase"
						ng-disabled="updateUserForm.$invalid">Submit Changes</button>
				</div>
			</form>

		</div>
	</div>
	<!--// end row -->

	<div class="row">
		<div class="col-sm-12">
			<form id="updatePassForm" name="updatePassForm">
			<h3>Update Password</h3>
				<div class="form-group">
					<div class="input-group">
						<input type="text" class="form-control" name="password1" placeholder="Password" ng-model="pass.password1" ng-required="true">
						<p class="errorMessage"
							ng-show="updatePassForm.password1.$invalid && updatePassForm.password1.$touched">Cannot be blank</p>
					</div>
					<div class="input-group">
						<input type="text" class="form-control" name="password2" placeholder="Re-enter Password" ng-model="pass.password2" ng-required="true">
						<p class="errorMessage"
							ng-show="updatePassForm.password2.$invalid && updatePassForm.password1.$touched">Cannot be blank and must match</p>
					</div>
					
				</div>
				<div class="form-group">
					<button ng-click="vm.updatePassword(pass.password1)"
						class="btn-theme btn-theme-sm btn-default-bg text-uppercase"
						ng-disabled="pass.password1 != pass.password2">Submit Changes</button>
				</div>
			</form>

		</div>
	</div>
	<!--// end row -->
</div>