/* User Profile */
#updateUserForm, #updatePassForm {
	top: 50vh;	
	padding: 10vw 0 0 0;
}

#updateUserForm input, #updatePassForm input {
	width: 50vw;
}

#userProfileUpdate {
	width: 100%;
}

/* userMain */
#resultsPane {
	border: 1px solid blue;	
}

#userMapPane {
	border: 1px solid red;
}

